body,
html {
  width: 100%;
  height: 100%; 
}
body {
  background-position: center;
  background-image: url("../Images/welcome.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}
.myowncssbtn{
	background-color: lightgreen;
	border: 2px solid black;
}
.myowncssbtn:hover{
	background-color: lightgrey;
	border: 2px solid green;
	cursor: pointer;
}
header.startup {
	margin-top: 50%;
}
hr{
	background-color: white;
	width: 500px;
}



.bgimg{
	margin: 50px;
	background-image: url(../Images/Bgimage1.jpg);
	}
.navbar a{
	text-decoration: none;
	color:coral;
	}
.navbar a:hover {
	background-color: aliceblue;
	border:1.5px solid black;
	border-radius: 30px;
/*	padding: 5px;*/
	transition: all 0.5s;
	}

}
.heading{
	background-color: orange;
	text-align: center;
	margin: auto;
	}
.navbar li{
	display: inline;
	background-color: white;
	border:3px solid white;
	}
.navbar ul{
	text-align: center;
	}
#bordernav{
	border: 5px dashed blue;
	}
.Workimg img{
	height:100px;
	width:100px;
	transition: all 1s;
	}
.Workimg img:hover{
	transform: scale(1.1);
	}
.Workimgli1 img{
	transition: all 1s;
	height:100px;
	width:250px; 
	}
.Workimgli1 img:hover{
	height:110px;
	width:275px;
}
p{
	font-family: 'Roboto Slab', serif;font-weight: bolder;
	}
#cpyrgtp{
	font-size: 25px;
}
.abcd{
	display: inline;
}
a { 
   text-decoration: none;
}
ul {
   list-style: none;
   margin: 0;
   padding: 0;
}
.container {
   margin: 0 auto;
   padding: 20px 50px;
   background: white;
}
.sscbar li{
   size:5px;
}
