body,
html {
  width: 100%;
  height: 100%; 
}
body {
  background-position: center;
  background-image: url("../Images/welcome.jpg") fixed;
  background-size: cover;
  height: 100%
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}
.myowncssbtn{
	background-color: lightgreen;
	border: 2px solid black;
}
.myowncssbtn:hover{
	background-color: lightgrey;
	border: 2px solid green;
	cursor: pointer;
}
header.startup {
	margin-top: 50%;
}
hr{
	background-color: white;
	width: 500px;
}
