//Socials
.linkedin:hover {
    color: #0077b5;
}
.twitter:hover {
    color: #1DA1F2;
}
.facebook:hover {
    color: #4267B2;
}
.instagram:hover {
    color:#E1306C;
}
.github:hover {
    color: #6e5494;
}
.medium:hover {
    color: gray;
}